*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
.outerDiv{
    width: 100vw;
    height: 100vh;
    background: rgb(80, 7, 80);
    display: grid;
    place-items: center;
}
.innerDiv{
width: 80vw;
height: 70vh;
display: grid;
place-items: center;
}
.main-heading{
    padding: 30px;
    color: rgb(236, 206, 195);
    text-shadow: 0 1px 8px rgb(74, 134, 33);
    font-size: 100px;
}